<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157198813464-6l270fb9iqf4df672rv09qj4e8gkpe84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157198813464-6l270fb9iqf4df672rv09qj4e8gkpe84</string>
	<key>API_KEY</key>
	<string>AIzaSyDSaVz7-dyLcDCcEo5INQGOFK6NY5FRUWY</string>
	<key>GCM_SENDER_ID</key>
	<string>157198813464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wk.wanianki</string>
	<key>PROJECT_ID</key>
	<string>wanianki</string>
	<key>STORAGE_BUCKET</key>
	<string>wanianki.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157198813464:ios:0f5c809207669b803d766d</string>
	<key>DATABASE_URL</key>
	<string>https://wanianki.firebaseio.com</string>
</dict>
</plist>